In [2]:
#Dependencies
import pandas as pd

#File to load
school_data_path = "../Resources/schools_complete.csv"
student_data_path = "../Resources/students_complete.csv"

#Read paths in to Pandas DataFrame
school_data = pd.read_csv(school_data_path)
student_data = pd.read_csv(student_data_path)

#Merge into a single DataFrame
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary
### Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:

- Total schools
- Total students
- Total budget
- Average math score
- Average reading score
- % passing math (the percentage of students who passed math)
- % passing reading (the percentage of students who passed reading)
- % overall passing (the percentage of students who passed math AND reading)

In [7]:
#Total Schools
total_schools = school_data_complete['school_name'].unique()
school_total = len(total_schools)
print(school_total)

15

In [8]:
#Total Students
total_students = school_data_complete["student_name"].count()
print(total_students)

39170

In [13]:
#Total Budget
#First I will need to groupby school so as to not recount or sum budgets more than once
total_budget = school_data_complete['budget'].sum()
print(total_budget)

82932329558